*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    background-color: var(--header-base-color);
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
        margin: 1rem;
}


.button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
}

.title{
    display: flex;
    align-items: center;
    color: white;
    
}

.areaCadastro{
    display: flex;
}